{% extends 'base.html' %}
    {% block title %}
    Flask
    {% endblock title %}
{% block body %}

    <div class="container my-4 col-md-4">
        <h2 class="text-center fs-2 fw-bold custom-color">Add a Todo</h2>
        <form action="/" method="POST" class="custom-border">
            <div class="mb-3">
                <label for="title" class="form-label fw-bold">Todo Title</label>
                <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label fw-bold">Todo Description</label>
                <input type="text" class="form-control" name="desc" id="desc">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="container my-3">
        <h2 class="text-center fs-2 fw-bold custom-color">Your Todo</h2>

        {% if allTodo|length == 0 %}
        <div class="alert alert-danger" role="alert">
            Hurray! You have no Todo's!
        </div>
        {% else %}
        <table class="table table-light table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in allTodo %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{todo.title}}</td>
                    <td>{{todo.desc}}</td>
                    <td>{{todo.date_created}}</td>
                    <td>
                        <a href="/update/{{todo.sno}}"><button type="button"
                                class="btn btn-success btn-sm mx-1">Edit</button></a>
                        <a href="/delete/{{todo.sno}}"><button type="button"
                                class="btn btn-outline-danger btn-sm mx-1">Delete</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        {% endif %}

    </div>
    

{% endblock body %}